.dog-image {
  width: 80%;
  height: 80%;
  overflow: hidden;
}

img {
  height: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 20px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button-change-image {
  background-color: lightgreen;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
